@import './gradients.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальные стили для спиннеров */
.spinner {
  animation: spin 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% { 
    transform: rotate(360deg) scale(1);
  }
}